  <!DOCTYPE html>
<html lang="en">
  <head>
    <title>UQ v QUT @ Birdees!</title>
    <meta name="description" content="Attendence counter for UQ v QUT event at Birdees">
    <link id="favicon" rel="icon" href="https://pbs.twimg.com/profile_images/799470556898725888/-mebzEvo_400x400.jpg" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="style.css" />
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- import the webpage's client-side javascript file -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      $(function () {
        var socket = io();
        
        $('#UQcol').click(function () {
          console.log("UQ INPUT DETECTED!");
          socket.emit('UQbutton');
        });
        
        $('#QUTcol').click(function() {
          console.log("QUT INPUT DETECTED!");
          socket.emit('QUTbutton');
        });
        
        socket.on('scoreUpdate', function(UQdata, QUTdata) {
          $('#UQSCORE').text( UQdata );
          $('#QUTSCORE').text( QUTdata );
        });
        
        socket.on('QUTScoreUpdate', function() {
          $('#QUTcol').addClass("animate");
          setTimeout( function() {
            $('#QUTcol').removeClass("animate");
          }, 200);
        });
        
        socket.on('UQScoreUpdate', function() {
          $('#UQcol').addClass("animate");
          setTimeout( function() {
            $('#UQcol').removeClass("animate");
          }, 200);
        });
      });
      
    </script>
    <script>
      // Set the date we're counting down to
      var countDownDate = new Date("Feb 18, 2019 22:30:").getTime();

      // Update the count down every 1 second
      var x = setInterval(function() {

      // Get todays date and time
      var now = new Date().getTime();
    
      // Find the distance between now and the count down date
      var distance = countDownDate - now;
    
      // Time calculations for days, hours, minutes and seconds
      var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
      // Output the result in an element with id="demo"
      document.getElementById("timer").innerHTML = hours + "h " + minutes + "m " + seconds + "s ";
    
      // If the count down is over, write some text 
      if (distance < 0) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "17/03/19";
  }
}, 1000);
    </script>
    
    
  </head>
  <body>
    <header id="head">
      <img src="https://cdn.glitch.com/09957cf9-1164-41a1-8203-87e3c04627fa%2Fbirdees-logo-light.png?1549945435675" alt="birdees">
    </header>
    
    <div class="row">
      <div class="column" id="UQcol">
        <h1 id="UQSCORE" style="margin: 0px">0</h1>
        <img src="https://cdn.glitch.com/09957cf9-1164-41a1-8203-87e3c04627fa%2FUQ3.jpg?1549957089580" id="UQB" width="60%">
      </div>
      <div class="column" id="QUTcol">
        <h1 id="QUTSCORE" style="margin: 0px">0</h1>
        <img src="https://cdn.glitch.com/09957cf9-1164-41a1-8203-87e3c04627fa%2FQUT4.jpg?1549955184991" id="QUTB" width="60%">
      </div>
    </div>
    
    <div id="timerBox">
      <p id="timer"></p>
    </div>
  </body>
</html>
